.btn {
  display: inline-block;
  padding: 0px 33px;
  height: 50px;
  line-height: 50px;
  background-color: #000;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #fff;
  &--w {
    background-color: #fff;
    color: #000;
  }
  &:hover {
  }
  &:fw {
    width: 100%;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background: no-repeat;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 18px;
  border: 2px solid #959595;
  height: 50px;
  background-color: #252525;
  color: #959595;
  font-size: 15px;
  
}

textarea.input{
resize: none;
padding: 10px 10px;
height: 100px;
}